@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,200;1,500&display=swap');

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

#title {
  text-align: center;
  color: #333;
}

#all-aturan {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#title-aturan {
  font-weight: bold;
  margin-bottom: 10px;
}

#Aturan {
  margin-left: 20px;
}

label {
  display: block;
  margin-top: 20px;
}

#input {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Mengatur tampilan button */
#btn {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Mengatur tampilan hr */
hr {
  margin-top: 20px;
}

/* Mengatur tampilan ul tulisan */
#tulisan {
  margin-top: 20px;
  padding-left: 20px;
}
